{% extends 'generator/layout.html' %}
{% block content %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolorum quae. Labore a corporis sed possimus explicabo ducimus eos rem veniam, minima odit reprehenderit fugit voluptate laboriosam, quidem nesciunt similique esse. Molestias maiores cumque, vel nesciunt eius, veniam dolorem delectus cupiditate ducimus adipisci repudiandae voluptates suscipit tempora harum totam sunt odio nemo dolor iste consectetur ad sequi, aliquid dolores amet? At perspiciatis aliquid, facilis officiis necessitatibus esse voluptas rerum unde dolorem maxime tempora explicabo asperiores molestiae magni? Beatae voluptatum, velit suscipit sit et ipsa harum non dolores exercitationem iure fuga minus alias asperiores facere necessitatibus, libero maiores id animi tempore!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto non sequi distinctio rem adipisci quis quidem, eligendi iusto, molestiae at eius voluptatibus ducimus reprehenderit dicta iure repellat omnis perspiciatis inventore modi minus illum commodi amet fugit! Blanditiis sunt ratione doloribus et illum ad rerum aut suscipit ab, quia placeat modi!</p>
    
{% endblock %}