{% extends 'generator/layout.html' %}
{% block content %}
    <div class="col-md-4 offset-md-4">
        
        <div class="card card-body bg-dark text-center" >
            <h1>Contraseña</h1>
            <p id="pwd">{{password}}</p>
            <button id="copiador" class="btn btn-light ">Copiar</button>
        </div>
    </div>
    <script>
    

    /*CopyToClipBoard*/
    var buttonCopy = document.getElementById("copiador");

    buttonCopy.addEventListener("click", copyToClipBoard, false);

    function copyToClipBoard() {
        var enlace = document.getElementById("pwd");
        var inputFalso = document.createElement("input");
        inputFalso.setAttribute("value", enlace.innerHTML);
        document.body.appendChild(inputFalso);
        inputFalso.select();
        document.execCommand("copy");
        document.body.removeChild(inputFalso);
        alert("Copiado al portapapeles!");
    }
    </script>
{% endblock %}
